.decore-border {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -14px;
  margin-right: -14px;
  margin-bottom: 40px;
  .decore-line {
    height: 2px;
    background-color: rgba($color: #fff, $alpha: 0.6);
    width: 80px;
    margin: 0 14px;
  }
  .decore-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $color-primary;
  }
}